﻿@model FrontEnd.Models.MatrixViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Matrix</h1>
    <div class="row">
        <div class="col-md-3">
            <p><button id="btn3" class="btn btn-default">Random get &raquo;</button></p>
        </div>
        <div class="col-md-3">
            <p><button id="btnTurnLeft" class="btn btn-default">Turn left &raquo;</button></p>
        </div>
        <div class="col-md-3">
            <p><button id="btnTurnRight" class="btn btn-default">Turn right &raquo;</button></p>
        </div>
        <div class="col-md-3">
            <p><button id="btn0" class="btn btn-default">Export &raquo;</button></p>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                Source table
                <tbody id="tabledata">
                    @Html.Partial("MatrixData", Model.Matrix)
                </tbody>
            </table>
            <br />
            <label for="turnResult"></label>
            <table class="table table-condensed" id="turnResult">
                <tbody id="turned"></tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <fieldset class="col-md-6">
            <legend class="col-form-legend col-lg-3">UpLoad</legend>
            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
                        <input type="file" name="FileUpload" />
                        <input type="submit" name="Submit" id="Submit" value="Load from *.csv &raquo" />
                    }
                </div>
            </div>
        </fieldset>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/customjs")
    <script type="text/javascript">
        CustomJavaScript.init();
    </script>
}
