﻿@model Dictionary<int, int[]>

@{
    int n = Model.Keys.Count;
    int m = 0;
}

@while (m < n)
{
<tr>
    @foreach (var item in Model[m])
    {
        int i = 0;
        <td><input style="width:50px;" readonly="readonly" disabled="disabled" type="text" name="matrix[@m].Value[@i]" value=@item /></td>
        i++;
    }
</tr>
    m++;
}
